html {
    background-color: #dddddd;
}
body {
    background-color: #dddddd;
}
.header {
    background-image: url("images/headerImage.png");
    background-size: auto 300px;
    left: 0;
    right: 0;
    top:0;
    padding-bottom: 100px;
    position: absolute;
}

#headerLogo {
    margin-left: 50px;
    padding-top: 10px;
}
.menu {
    height: 80px;
    width: 100%;
    top: 190px;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    filter: alpha(opacity=60);
}
.menuBar li {
    padding-top: 16px;
    display: inline-block;
    padding-left: 10vw;
    width: 20%;
    font-size: 30px;
    list-style-type: none;
    text-decoration: none;
}
.menuBar li a {
    color: #eeeeee;
    font-family: Menlo;
}
.menuBar li a:hover {
    color: deepskyblue;
    text-decoration: none;

}
.imageSlider {
    width: 100%;
    top: 300px;
    position: absolute;
    padding-left: 200px;
    padding-right: 200px;;
    background-color: #dddddd;

}
#sliderImages img {
    width:100%;
    height: 500px;
    border:0;
}
.mainPage {
    padding-top: 200px;
    padding-bottom: 10vw;
    background-color: #dddddd;
}
.information {
    margin-top: 50px;
    padding-bottom: 50px;
}
.information p {
    font-size: 20px;
    font-family: Menlo;
}
.information h3 {
    color: deepskyblue;
    text-decoration: underline;
    font-size: 30px;
    font-family: Menlo;
}
.comingSoon {
    background-color: #dddddd;
    margin-top: 400px;
    padding-bottom: 10vw;
}
.comingSoon div div h1 {
    color: deepskyblue;
    font-family: Menlo;
}
.comingSoon .container .jumbotron {
    background-color: #dddddd;
}
.comingSoon div div p {
    font-size: 15px;
    font-family: Menlo;
}
#form {
    margin-top: 50px;
}

.text {
    padding-left: 200px;
    padding-right: 200px;;
    margin-top: 600px;
    font-family: monospace;
}
.bottom {
    background: rgba(0,0,0,.85);
    padding-bottom: 0.5vw;
    bottom: 0;
}
.bottomMenu li {
    padding-top: 16px;
    display: inline-block;
    padding-left: 10vw;
    width: 18%;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
}
.bottomLogos li {
    padding-top: 16px;
    width: 20%;
    padding-left: 10vw;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;

}
.bottomMenu li a {
    font-family: Menlo;
}
.bottomMenu li a:hover {
    color: blue;
    text-decoration: none;

}
.bottomOzuLogo {
    width: 25vw;
    height: 5vw;
    margin-left: 8vw;

}
.bottomRoboticLogo {
    height: 7vw;
    width: 18vw;
    margin-left: 24vw;
}
#facebookLogo {
    height: 4vw;
    width: 4vw;
    margin-right: 2vw;
    margin-top: 1vw;
}
#twitterLogo {
    height: 4vw;
    width: 4vw;
    margin-top: 1vw;
}
#youtube-logo {
    height: 4vw;
    width: 5vw;
    margin-top: 1vw;
    margin-left: 1.8vw;
}
.copyright {
    padding-bottom: 0.1px;
    background-color: black;

}
